certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cryptography==36.0.2
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Login==0.5.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pycparser==2.21
pyOpenSSL==22.0.0
python-dotenv==0.19.2
requests==2.27.1
six==1.16.0
urllib3==1.26.9
Werkzeug==2.0.0
